.home-container {
  display: grid;
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  place-items: center;
}

.btn-toggle {
  display: flex;
  font: 16px;
  padding: 8px 32px;
  color: rgb(255, 255, 255);
  background: rgb(255, 0, 0);
  border: none;
}
